mat-toolbar {
  background-color: rgb(43, 77, 116);
  color: rgb(136, 156, 196);
  display: fixed;
  font-family: 'Special Elite', cursive;
  font-size: 25pt;
  padding-left: 1vw !important;
  padding-right:1vw !important;
}

.mat-toolbar-single-row {
  height: auto;
}

/* "FitnessTogether" words */

#logoFont {
  font-family: 'Special Elite', cursive;
  font-size: 25pt;
  color: rgb(136, 156, 196);
  padding-top: 2pt;
  /*necessary b/c when the words get smaller, it gets offline w/ icons. */
}
@media only screen and (max-width: 800px) {
  #logoFont {
    font-size: 12pt;
  }
  a {
    font-size: 12pt !important;
  }
}
@media only screen and (max-width: 400px) {
  #logoFont {
    display:none;
  }
}

.ourIcon {
  height: 3em;
  width: 3em;
  margin-top: 10px;
}

/* spacer basically divides the 2 containers & pushes them left & right */

.spacer {
  flex: 1 1 auto !important;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 5px;
  color: rgb(136, 156, 196) !important;
  text-decoration: none;
  cursor: pointer;
  font-size: 24pt;
}

@media only screen and (max-width: 500px) {
  a {
    font-size: 12pt !important;
  }
}

mat-toolbar i {
  display: inline-block;
  margin: 0 5px;
  color: rgb(136, 156, 196) !important;
  text-decoration: none;
  cursor: pointer;
}