<mat-toolbar class='footer'>
  <a href="#" routerLink='/'><img class="ourIcon" src="../../assets/ourIcon.png" alt="logo"></a>
  <br />
  <span id="logoFont">©2019 FitnessTogether</span>
  <span class="spacer"></span>

  <a class="grey-text text-lighten-4 right" href="/contact">Contact</a>
  <br>


  <!-- Add icons here <a href="#">Another link?</a>-->

  <div class='nav-links'>
    <a class="grey-text text-lighten-4 right" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
    <a class="grey-text text-lighten-4 right" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
  </div>


</mat-toolbar>