<!-- Here is our excercise carousel -->
<div *ngIf='events'>
  <div class="exercise-carousel">

    <div class="carousel">
      <h3>EXCERCISE</h3>
      <div class="input-field col s12">
        <select multiple>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Running</option>
          <option value="2">Gym</option>
          <option value="3">Kick Boxing</option>
          <option value="4">Crossfit</option>
          <option value="5">Yoga</option>
        </select>
        <label>Choose an Exercise</label>
      </div>

      <div class='carousel-item' *ngFor="let e of exerciseEvents; let i = index">
        <section class="card" style='background-image: url("../../assets/hiking.jpeg")'>
          <div class='contents'>
            <div class="card-content">
              <span class="card-title">{{ e.title }}</span>
              <p><a href="#">{{ e.date }}</a></p>
              <p>{{ e.location }}</p>
              <p>{{ e.description }}</p>
            </div>
            <div class="card-map">
              <agm-map [zoomControl]='zoomControl' [streetViewControl]='streetViewControl' [mapDraggable]='draggable'
                [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
                <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="locationChosen"></agm-marker>
              </agm-map>
            </div>
          </div>
          <button *ngIf='!attending' (click)='attendButton(e)'>Attend</button>
          <button *ngIf='!attending' (click)='unattendButton(e.id)'>Unattend</button>
        </section>
      </div>

    </div>
  </div>

  <!--paralax-->
  <div class="custom-container">
    <div class="parallax-container1"></div>
  </div>

  <!-- Here is our Sports carousel -->
  <div class="exercise-carousel">

    <div class="carousel">
      <h3>SPORTS</h3>
      <div class="input-field col s12">
        <select multiple>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Basketball</option>
          <option value="2">Football</option>
          <option value="3">Soccer</option>
          <option value="4">Golf</option>
          <option value="5">Tennis</option>
        </select>
        <label>Choose a Sport</label>
      </div>

      <div class='carousel-item' *ngFor="let e of sportEvents; let i = index">
        <section class="card" style='background-image: url("../../assets/hiking.jpeg")'>
          <div class='contents'>
            <div class="card-content">
              <span class="card-title">{{ e.title }}</span>
              <p><a href="#">{{ e.date }}</a></p>
              <p>{{ e.location }}</p>
              <p>{{ e.description }}</p>
            </div>
            <div class="card-map">
              <agm-map [zoomControl]='zoomControl' [streetViewControl]='streetViewControl' [mapDraggable]='draggable'
                [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
                <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="locationChosen"></agm-marker>
              </agm-map>
            </div>
          </div>
          <button *ngIf='attendInfo' (click)='attendButton(e)'>Attend</button>
          <button *ngIf='attendInfo' (click)='unattendButton(e.id)'>Unattend</button>
        </section>
      </div>

    </div>
  </div>

  <!--paralax-->
  <div class="custom-container">
    <div class="parallax-container1"></div>
  </div>

  <!-- Here is our Nature carousel -->
  <div class="exercise-carousel">

    <div class="carousel">
      <h3>OUTDOORS</h3>
      <div class="input-field col s12">
        <select multiple>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Hiking</option>
          <option value="2">Cycling</option>
          <option value="3">Mountain Biking</option>
          <option value="4">Rock Climbing</option>
          <option value="5">Kayaking</option>
        </select>
        <label>Choose an Activity</label>
      </div>

      <div class='carousel-item' *ngFor="let e of outdoorEvents; let i = index">
        <section class="card" style='background-image: url("../../assets/hiking.jpeg")'>
          <div class='contents'>
            <div class="card-content">
              <span class="card-title">{{ e.title }}</span>
              <p><a href="#">{{ e.date }}</a></p>
              <p>{{ e.location }}</p>
              <p>{{ e.description }}</p>
            </div>
            <div class="card-map">
              <agm-map [zoomControl]='zoomControl' [streetViewControl]='streetViewControl' [mapDraggable]='draggable'
                [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
                <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="locationChosen"></agm-marker>
              </agm-map>
            </div>
          </div>
          <button *ngIf='attendInfo' (click)='attendButton(e)'>Attend</button>
          <button *ngIf='attendInfo' (click)='unattendButton(e.id)'>Unattend</button>
        </section>
      </div>

    </div>
  </div>
</div>