<!-------------------- This file pulls into the eventpage.html ---------------------->



<!-- Here is our excercise carousel -->
<div class="excercise-carousel">
  
  <div class="carousel">
    
      <h3>EXCERCISE</h3>
      <div class="input-field col s12">
          <select multiple>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Running</option>
            <option value="2">Yoga</option>
            <option value="3">Weight Lifting</option>
            <option value="4">Group Workout</option>
            <option value="5">Bootcamp</option>
          </select>
          <label>Choose an Exercise</label>
        </div>
    <a class="carousel-item" href="#one!"><img src="../../assets/runners.jpeg"></a>
    <a class="carousel-item" href="#two!"><img src="../../assets/yogagirls.jpeg"></a>
    <a class="carousel-item" href="#three!"><img src="../../assets/john-arano-1136867-unsplash.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../../assets/fitnessgroup.jpeg"></a>
    <a class="carousel-item" href="#five!"><img src="../../assets/boxjumps.jpeg"></a>
  </div>
</div>

<!-- Here is our Sports carousel -->
<div class="sports-carousel">
  
    <div class="carousel">
        <h3>SPORTS</h3>
        <div class="input-field col s12">
            <select multiple>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Tennis</option>
              <option value="2">Volleyball</option>
              <option value="3">Golf</option>
              <option value="4">Basketball</option>
              <option value="5">Softball</option>
            </select>
            <label>Choose a sport</label>
          </div>
      <a class="carousel-item" href="#one!"><img src="../../assets/tennispairs.jpeg"></a>
      <a class="carousel-item" href="#two!"><img src="../../assets/vince-fleming-1292506-unsplash.jpg"></a>
      <a class="carousel-item" href="#three!"><img src="../../assets/court-prather-663692-unsplash.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="../../assets/malcolm-lightbody-629847-unsplash.jpg"></a>
      <a class="carousel-item" href="#five!"><img src="../../assets/josh-calabrese-179700-unsplash.jpg"></a>
    </div>
  </div>

  <!-- Here is our Nature carousel -->
  <div class="nature-carousel">
  
      <div class="carousel">
          <h3>NATURE</h3>
          <div class="input-field col s12">
              <select multiple>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Hiking</option>
                <option value="2">Cycling</option>
                <option value="3">Mountain/Rock Climbing</option>
                <option value="4">Cookout</option>
                <option value="5">Surfing</option>
              </select>
              <label>Choose an outdoor activity</label>
            </div>
        <a class="carousel-item" href="#one!"><img src="../../assets/hikinggroup2.jpeg"></a>
        <a class="carousel-item" href="#two!"><img src="../../assets/cyclingpair.jpeg"></a>
        <a class="carousel-item" href="#three!"><img src="../../assets/rockclimbingpairs.jpeg"></a>
        <a class="carousel-item" href="#four!"><img src="../../assets/evan-wise-787902-unsplash.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="../../assets/joseph-greve-343334-unsplash.jpg"></a>
      </div>
    </div>
