/****maps*****/

agm-map {
    height: 200px;
    width: 200px;
    left: 140px;
    /* this is what is "centering" the map on the modal */
    position: relative;
    padding-bottom: 5pt;
}

/***carousel**/

.carousel {
    box-shadow: 0em .5em .8em .1em rgba( 0, 0, 0, 0.6);
    height: 600px;
}

.carousel h3 {
    margin-top: 5px;
}

.input-field {
    max-width: 25%;
}

.seperator {
    margin-top: 24px;
    margin-bottom: 16px;
}

div.carousel-item {
    top: -120px;
    left: -10%;
}

div.carousel-item.ng-star-inserted {
    opacity: 0.6 !important;
}

div.carousel-item.ng-star-inserted.active {
    opacity: 1 !important;
}

/***CARDS***/

.card {
    width: 35vw;
    min-width: 280px;
    border: solid grey 1px;
    margin: 3pt;
    display: flex;
    flex-direction: column;
    display: flex;
    position: relative;
    text-align: center;
    border-radius: 15pt;
    margin: 3pt;
    display: flex;
    background-color: rgb(43, 77, 116);
}

.card:hover {
    box-shadow: .5em .5em 1em .2em rgba( 0, 0, 0, 0.6);
}

.card-map {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.card-map agm-map {
    left: unset;
}

.contents {
    background: rgb(136, 156, 196);
    border-radius: 20pt;
    margin: 5px;
    color: black;
    justify-content: stretch;
    border-radius: 15pt;
    /* z-index: 0 !important;
    opacity: .6; */
}

.card-title {
    word-wrap: break-word;
    font-weight: 300;
    margin: 0;
    color: black;
    font-size: 30pt;
    font-family: 'Special Elite', cursive;
}

p {
    font-weight: 300;
    margin: 0;
    color: black;
    font-size: 12pt;
    font-family: 'Special Elite', cursive;
}

button {
    justify-content: right;
    background: rgb(236, 197, 23);
    border-color: rgb(255, 208, 0);
    border-radius: 5px;
    margin-bottom: 5px;
}

/***PARALAX***/

.custom-container {
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
}

.parallax-container1 {
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    background: url('../../assets/john-arano-1136867-unsplash.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 280px;
}

.parallax-container2 {
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    background: url('../../assets/cyclingpair2.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 280px;
}