<mat-toolbar>
  <span>
    <h1>Logo</h1>
  </span>
  <span class="example-fill-remaining-space"></span>
  <div>
    <a routerLink='/'><i class="material-icons"> menu</i></a>
    <a routerLink='/events'>Events</a>
    <a routerLink='/profile'>Profile</a>
    <a routerLink='/pagenotfound'>404</a>

    <button (click)='loginToggle()'>Login</button>
    <button (click)='signupToggle()'>Sign up</button>
    <button (click)='logout()'>Logout</button>

  </div>
</mat-toolbar>
<div *ngIf='login'>
  <app-login></app-login>
</div>
<div *ngIf='signup'>
  <app-signup></app-signup>
</div>