
/* font color & hamburger icon color are controlled by "color" here */
 mat-toolbar {
  background-color: rgb(43, 77, 116);
  color: rgb(136, 156, 196);
  display: fixed;
  font-family: 'Special Elite', cursive;
  font-size: 14pt;
}

mat-nav-list a {
  font-family: 'Special Elite', cursive;
  font-size: 16pt;
}



/* "FitnessTogether" words */
#logoFont {
  font-family: 'Special Elite', cursive;
  font-size: 25pt;
  color: rgb(136, 156, 196);
  padding-top: 2pt; /*necessary b/c when the words get smaller, it gets offline w/ icons. */
}
 @media only screen and (max-width: 400px){
  #logoFont {
    font-size: 15pt;
  } }


/* the following (7) came from video: */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px black;
}

mat-sidenav-content {
  margin-left: 0 !important;
  margin: 0;
}

/* spacer basically divides the 2 containers & pushes them left & right */
.spacer {
  flex: 1 1 auto !important;
}
/* 


/* words next to icons ("home/Login/logout/signup") */
.nav-links {
  font-size: 2vw;
  cursor: pointer;
  padding: 3pt;
}



mat-toolbar a {
  display: inline-block;
  margin: 0 5px;
  color: rgb(136, 156, 196);
  text-decoration: none;
  cursor: pointer;
}



/* our icon top left */
.ourIcon {
  height: 4em;
  width: 4em;
  padding-top:10px;
}


/* icons on Navbar. icon sizes are controlled by "font-size"*/
fa-icon {
  max-height: 1em;
  max-width: 1em;
  font-size: 10pt;
  cursor: pointer;
  padding: 2pt;
  color: rgb(136, 156, 196);
}




/* hamburger-icon. icon sizes are controlled by "font-size" */
mat-icon {
  font-size:30pt;
  cursor: pointer;
  padding-right: 0;
  width:auto;
}

