<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink='/'>Home</a>
      <a mat-list-item href="#" routerLink='/events'>Events</a>
      <a mat-list-item href="#" routerLink='/profile'>Profile</a>
      <a mat-list-item href="#">Another link?</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <i type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </i>
      <img class="ourIcon" src="../../assets/ourIcon.png" alt="logo">
      <span id="logoFont">FitnessTogether</span>

      <!-- This spacer class added w/ css divides & pushes everything above to the right and everything below to the left. -->

      <span class="spacer"></span>

      <!-- Add icons here <a href="#">Another link?</a>-->
      <div>
        <a routerLink='/home'>
          <fa-icon class="fas fa-home"></fa-icon>
          <span class="label">Home</span>
        </a>
        <a (click)='loginToggle()'>
          <fa-icon class="fas fa-sign-in-alt"></fa-icon>
          <span class="label">LogIn</span>
        </a>
        <a (click)='signupToggle()'>
          <fa-icon class="fas fa-user-plus"></fa-icon>
          <span class="label"> SignUp</span>
        </a>
        <a (click)='logout()'>
          <fa-icon class="fas fa-sign-out-alt"></fa-icon>
          <span class="label">LogOut</span>
        </a>
      </div>

      <!-- <button (click)='loginToggle()'>Login</button>
    <button (click)='signupToggle()'>Sign up</button> -->
      <!-- <button (click)='logout()'>Logout</button> -->

    </mat-toolbar>
    <div *ngIf='login'>
      <app-login (onLoginToggle)='toggle()'></app-login>
    </div>
    <div *ngIf='signup'>
      <app-signup (onSignupToggle)='toggle()'></app-signup>
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>