<div *ngIf='login'>
  <app-login (onLoginToggle)='toggle()'></app-login>
</div>
<div *ngIf='signup'>
  <app-signup (onSignupToggle)='toggle()'></app-signup>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="dialog" [mode]="over" [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink='/'>Home</a>
      <a mat-list-item href="#" routerLink='/events'>Events</a>
      <a mat-list-item href="#" routerLink='/profile'>Profile</a>
      <a *ngIf='!loggedIn' mat-list-item (click)='signupToggle()'>SignUp</a>
      <a *ngIf='!loggedIn' mat-list-item (click)='loginToggle()'>Login</a>
      <a *ngIf='loggedIn' mat-list-item (click)='logout()'>LogOut</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>


      <i aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </i>
      <a href="#" routerLink='/'><img class="ourIcon" src="../../assets/ourIcon.png" alt="logo"></a>
      <span id="logoFont">FitnessTogether</span>

      <!-- This spacer class added w/ css divides & pushes everything above to the right and everything below to the left. -->

      <span class="spacer"></span>


      <!-- Add icons here <a href="#">Another link?</a>-->

      <div fxHide="true" fxShow.gt-xs class='nav-links'>

        <a *ngIf='!loggedIn' (click)='loginToggle()'>
          <fa-icon class="fas fa-sign-in-alt"></fa-icon>
          <span class="label">LogIn</span>
        </a>
        <a *ngIf='!loggedIn' (click)='signupToggle()'>
          <fa-icon class="fas fa-user-plus"></fa-icon>
          <span class="label"> SignUp</span>
        </a>
        <a *ngIf='loggedIn' (click)='logout()'>
          <fa-icon class="fas fa-sign-out-alt"></fa-icon>
          <span class="label">LogOut</span>
        </a>

      </div>


    </mat-toolbar>
    <!-- <div *ngIf='login'>
      <app-login (onLoginToggle)='toggle()'></app-login>
    </div>
    <div *ngIf='signup'>
      <app-signup (onSignupToggle)='toggle()'></app-signup>
    </div> -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>