<div class="example-button-row">
  <button (click)="openEventModal()" style="position:absolute; z-index: 5; right : 0" mat-mini-fab>
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </button>
  <a style='position:absolute; left:0;' href='/allevents'>View All Events</a>
</div>

<!-- Modal  -->
<div class='createEvent' *ngIf="addEventClicked">
  <div class='xBtn'>
    <button (click)='closeEventModal()' mat-mini-fab>X</button>
  </div>
  <h4>CREATE EVENT</h4>
  <form [formGroup]='addEvent' (ngSubmit)='onSubmit()' class="example-container">

    <!-- Title -->
    <mat-form-field>
      <input matInput formControlName='title' placeholder="Title" required>
    </mat-form-field><br>

    <!-- Location -->
    <mat-form-field>
      <input matInput formControlName='location' placeholder="Location" required>
    </mat-form-field><br>
    <form [formGroup]="addMap"></form>

    <!-- Time attribute. DATEPICKER goes here -->
    <mat-form-field>
      <input matInput formControlName='date' [matDatepicker]="picker" placeholder="Date: year-month-date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field><br> 

    <!-- DROPDOWN OPTION LIST -->


    <mat-form-field>
      <mat-label>Event</mat-label>
      <mat-select formControlName="keyword">
        <!-- <mat-option>-- None --</mat-option> -->
        <mat-optgroup *ngFor="let group of eventGroups" [label]="group.name" [disabled]="group.disabled">
          <mat-option *ngFor="let event of group.event" [value]="event.value">
            {{event.viewValue}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <br>
    <!-- DESCRIPTION -->
    <mat-form-field>
      <textarea matInput formControlName='description' placeholder="Description">
                </textarea>
    </mat-form-field><br>
    <button (click)="submitNewEvent()" mat-button>Submit</button>
  </form>
</div>



<div class="seperator"></div>

<div class="custom-container">
  <div class="parallax-container1"></div>
</div>

<app-carousel></app-carousel>

<div class="custom-container">
  <div class="parallax-container2"></div>
</div>