/****maps*****/
agm-map{
    height: 200px;
    width: 200px;
    left: 150px; /* this is what is "centering" the map on the modal */
    position: relative;
}

/****create event modal *****/

.createEvent {
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 0 .5em .5em rgba(0, 0, 0, 0.4);
    width: 500px;
    height: 900px;
    top: 65px;
    right: 0;
    background: whitesmoke;
    text-align: center;
    color: black;
    
}

input {
	border-bottom: none!important;
    box-shadow: none!important;	
    border:none!important; 
    outline: none!important; 
    background: none!important;	
} 
.createEvent h4{
    margin: 0;
    font-family: 'Special Elite', cursive;
    font-size: 24pt;
}
.xBtn {
    display: flex;
    justify-content: flex-end;
}


.submit-button {
    background-color: rgb(39, 64, 133);
    color: white;
    border-color:  rgb(39, 64, 133);
    overflow: auto;
    z-index: 10;
    position: absolute;
    right: 41%;
    z-index: 100;
    margin-top: 15pt;
}

/***PARALAX***/

.custom-container {
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
}

.parallax-container1 {
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    background: url('../../assets/cyclingpair.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 80px;
}

.parallax-container2 {
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    background: url('../../assets/cyclingpair.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
}
