/****maps*****/
agm-map{
    height: 200px;
    width: 200px;
}

/****create event modal *****/

.createEvent {
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 0 .5em .5em rgba(0, 0, 0, 0.4);
    width: 400px;
    top: 64px;
    right: 0;
    background: white;
    text-align: center;
}
.createEvent h4{
    margin: 0;
}
.xBtn {
    display: flex;
    justify-content: flex-end;
}

/***PARALAX***/

.custom-container {
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
}

.parallax-container1 {
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    background: url('../../assets/cyclingpair.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 80px;
}

.parallax-container2 {
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    background: url('../../assets/cyclingpair.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
}