.login{
    position: absolute;
    z-index: 5;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 35vw;
    min-width: 300px;
    background: white;
    border-radius: 10px;
    padding: 5px;
    height: 270px;
    text-align: center;
}
.xBtn{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-bottom: 25px;
}
.xBtn button:hover{
    background: whitesmoke;
}
h4 {
    margin: 0;
}
.xBtn button{
    border: none;
    background: transparent;
    cursor: pointer;
}