<div *ngIf='event'>
  <div *ngFor='let e of event' class='deck'>
    <div class='card'>
      <div class='cardContainer'>
        <h3>{{ e.title }}</h3>
        <p>{{ e.date }}</p>
        <p>{{ e.location }}</p>
        <agm-map [streetViewControl]="streetViewControl" [latitude]="latConvert(e.latitude)" [longitude]="lngConvert(e.longitude)" (mapClick)="onChoseLocation($event)">
            <agm-marker [latitude]="latConvert(e.latitude)" [longitude]="lngConvert(e.longitude)" ></agm-marker>
          </agm-map>
        <p>{{ e.description }}</p>
        <div *ngIf='token'>
          <!-- <button #button value='{{ p.id }}' (click)='deletePlant(button.value)' >Delete</button> -->
        </div>
      </div>
    </div>
  </div>
</div>