<!-- <div *ngIf='event'>
  <div *ngFor='let e of event' class='deck' >
    <div class='card'>
      <div class='cardContainer'>
          <div class="photo">
        <h3>{{ e.title }}</h3>
        <p>{{ e.date }}</p>
        <p>{{ e.location }}</p>
        <agm-map [streetViewControl]="streetViewControl" [latitude]="latConvert(e.latitude)" [longitude]="lngConvert(e.longitude)" (mapClick)="onChoseLocation($event)">
            <agm-marker [latitude]="latConvert(e.latitude)" [longitude]="lngConvert(e.longitude)" ></agm-marker>
          </agm-map>
        <p>{{ e.description }}</p>
            <div *ngIf="role == 'admin'">
          <button #button value='{{ e.id }}' (click)='deleteEvent(button.value)' >Admin Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>  -->

<div *ngIf='event'>
  <div *ngFor='let e of event' class='deck'>
    <div class="wrap">
      <div class="tile">
        <div class="text">
          <!-- <img *ngIf="trueValue? setCardImage(e.keyword): null" src='../../../assets/yogagirls.jpeg'> -->
          <h1>{{ e.title }}</h1>
          <img src="../../../assets/situpgirls.jpeg" alt="">


          <h2 class="animate-text">{{ e.location }}</h2>
          <p class="animate-text">{{ e.date }} </p>
          <p class="animate-text">{{ e.description }} </p>

          <div *ngIf="role == 'admin'">
            <div class="button-container">
              <button #button value='{{ e.id }}' (click)='deleteEvent(button.value)'>Admin Delete</button>
            </div>
          </div>
        </div>
      </div>


    </div>
    </div>
    </div>