.signup{
    position: absolute;
    z-index: 5;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    top:100px;
    box-shadow: 1px 3px 3px rgb(39, 39, 39);
    width: 35vw;
    height: 400px;
    min-width: 300px;
    background:whitesmoke;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
}
.xBtn{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    background-color: whitesmoke;
    
}
h4 {
    margin: 3pt;
    font-size: 8pt;
    float: left;
}
.x-Btn{
    border: none;
    background: transparent;
    cursor: pointer;
    color: black;
    position: fixed;
    left: 64%;
    /* padding-top: 0; */
    margin-top: 3pt;
    margin-bottom: 3pt;

}
.xBtn {
    background-color: whitesmoke;
}

.mat-horizontal-stepper{
    padding: 0 !important;
    background-color: whitesmoke;
}
.mat-horizontal-stepper-header{
    height: 100px!important;
}
::ng-deep .mat-form-field-appearance-legacy {
    height: 0px !important;
}

.mat-form-field-infix {
    padding: none;
}

input {
	border-bottom: none!important;
    box-shadow: none!important;	
    border:none!important; 
    outline: none!important; 
    background: none!important;	
    font-size: 10pt;
} 

#stepper {
    /* margin-top: 3em; */
    padding-top: 1.5rem;
}

#buttons  {
    background-color: rgb(39, 64, 133);
    color: white;
    border-color:  rgb(39, 64, 133);
    overflow: auto;
    z-index: 10;
    position: relative;
    /* right: 21%; */
    z-index: 100;
    margin-top: 5pt;
}

#buttonsBack{
    background-color:rgba(255, 187, 0, 0.753);
    color: white;
    border-color:rgba(255, 187, 0, 0.753);
    overflow: auto;
    z-index: 10;
    position: relative;
    /* right: 21%; */
    z-index: 100;
    margin-top: 5pt;
    margin-right: 3pt;
    
}

#buttonsReset{
    background-color:red;
    color: white;
    border-color: red;
    overflow: auto;
    z-index: 10;
    position: relative;
    /* right: 21%; */
    z-index: 100;
    margin-top: 5pt;
    /* margin-right: 2pt; */
}

.signup {
    background-color: white;
}
