  <!-- Option Group dropdown -->
  
  <form >
  <mat-form-field >
    <mat-label>Event</mat-label>
    <mat-select ng-change="keywordFunction()" formControlName="keyword" [formControl]="eventControl">
      <!-- <mat-option>-- None --</mat-option> -->
      <mat-optgroup *ngFor="let group of eventGroups" [label]="group.name"
                    [disabled]="group.disabled">
        <mat-option *ngFor="let event of group.event" [value]="event.value">
          {{event.viewValue}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</form>
  

