@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./assets/materialize-css/dist/css/materialize.css";

@import '../node_modules/angular-calendar/css/angular-calendar.css';


html, body {
    height: 100%;
    overflow: auto;

}
/* margin must be 0 for collapsable sidebar to work correctly */
body {
    margin: 0;
}
