<!-- Jumbotron -->
<div class="custom-container">
  <div class="parallax-container1">
  </div>
</div>

<div class='jumbotron'>
  <div class='jumbotronContent'>
    <div>
      <img src='../../assets/ourIcon.png'>
    </div>
    <div>
      <h1>FITNESS TOGETHER</h1>
      <p>Fitness Together is your way to connect to other fitness fanatics
        across your city. Stop netflixing and get off the couch today!
      </p>
      <p> Sign up to view local events, and add then to your own calendar. Keep track of location
        events, better your health, and meet new people.</p>
      <div style='text-align: center'>
        <a mat-stroked-button>
          <mat-icon>launch</mat-icon>
          Get Started
        </a>
      </div>
    </div>
  </div>
</div>

<div class="custom-container">
  <div class="parallax-container2">
  </div>
</div>

<div class='jumbotron'>
  <div class='jumbotronContent' style='flex-direction: column; text-align: center'>
    <h1>About</h1>
    <p>After getting tired working out and exploring alone, we thought of a fantastic idea to connect people over their shared interest of exercise and activities. Its not easy to find someone who shares your love of an particular event, and you cant force your friends to take up a hobby they aren't interested in. So make some new friends that do share it and are interested.</p>
  </div>
</div>

<div class="custom-container">
  <div class="parallax-container3">
  </div>
</div>

<div class='jumbotron'>
  <div class='jumbotronContent'>
    <div class="container">
      <br>
      <br>
      <h2 class="text-center text-uppercase">Contact</h2>
      <div>
        <form ngNoForm action="https://formspree.io/rebekahmantlo@gmail.com" method="POST">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Your Name" id="name" required
            data-validation-required-message="Please enter your name" name="name">
          <p class="help-block text-danger"></p>
          <label>Email Address</label>
          <input type="email" class="form-control" placeholder="Your Email" id="email" required
            data-validation-required-message="Please enter your email" name="_replyto">
          <p class="help-block text-danger"></p>
          <textarea class="form-control" rows="7" placeholder="Your Message" id="message" required
            data-validation-required-message="Please leave a message" name="message"></textarea>
          <p class="help-block text-danger"></p>
          <button type="submit" class="btn btn-lg btn-black">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            Send Message
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="custom-container">
  <div class="parallax-container4">
  </div>
</div>

