<!-- Jumbotron -->

<mat-jumbotron  style="background:transparent !important" class="logo" imgURL="../../assets/ourIcon.png">
  <mat-jumbotron-content class="jumbotron">
    <h1 class="display-1" ngClass.xs="display-3 text-center" ngClass.sm="display-3">FITNESS TOGETHER</h1>
    <p class="headline" ngClass.xs="text-center">Fitness Together is your way to connect to other fitness fanatics across your city. Stop netflixing and get off the couch today!
    </p>

    <p class="text-center"> Sign up to view local events, and add your own to our database.</p>

    <div fxLayout="row" fxLayout.xs="column"
         fxLayoutGap.xs="2rem"
         fxLayoutAlign="center">
      <!-- <a mat-stroked-button
         color="primary"
         target="_blank"
         src="../../assets/runners3.jpeg">
        <mat-icon>code</mat-icon>
        Signup now -->
      <!-- </a> --> 
      <a mat-stroked-button
         color="primary"
         target="_blank"
         href="doc/index.html">
        <mat-icon>launch</mat-icon>
        Get Started
      </a>
    </div>

  </mat-jumbotron-content>
</mat-jumbotron>

<app-parallax></app-parallax>

<mat-jumbotron  imgURL="../../assets/ourIcon.png">
  <mat-jumbotron-content class="jumbotron">
    <h1 class="display-1" ngClass.xs="display-3 text-center" ngClass.sm="display-3">FITNESS TOGETHER</h1>
    <p class="headline" ngClass.xs="text-center">Fitness Together is your way to connect to other fitness fanatics across your city. Stop netflixing and get off the couch today!
    </p>

    <p class="text-center"> Sign up to view local events, and add your own to our database.</p>

    <div fxLayout="row" fxLayout.xs="column"
         fxLayoutGap.xs="1rem"
         fxLayoutAlign="center center">
      <a mat-stroked-button
         color="primary"
         target="_blank"
         src="../../assets/runners3.jpeg">
        <mat-icon>code</mat-icon>
        Signup now
      </a>
      <a mat-stroked-button
         color="primary"
         target="_blank"
         href="doc/index.html">
        <mat-icon>note</mat-icon>
        Login Now
      </a>
    </div>

  </mat-jumbotron-content>
</mat-jumbotron>

  <!-- <h3>Basic Buttons</h3>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div> -->


